@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

header {
    background-color: #3cd615;
    overflow: hidden;
}
body {
    background-color: #f7f5ef;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.titulo-logo {
    float: left;
    line-height: 150px;
    color: #f2f6fa;
}

.logo img {
    max-height: fit-content;
    max-width: 75px;
    float: left;
    margin-top: 35px;
}

nav {
    line-height: 150px;
    float: right;
}

nav a {
    color: #f2f6fa;
    text-decoration: none;
    padding: 0px 10px;
}

nav a:hover {
    color: #423c41;
}

.caja {
    background-color: #a6da99;
    margin: auto;
    text-align: center;
    width: 600px;
    height: 280px;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

button, input {
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border: 1px solid;
}

input {
    font-size: 19px;
    font-weight: 300;
    padding-left: 10px;
}

button {
    background-color: #fff12d;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 19px;
}

p, a {
    color: #f0295b;
}

form {
    border-bottom: 1px #f0295b solid;
    width: 400px;
    margin: auto;
}

h2 {
    font-weight: 1000;
    font-size: 24px;
}